<!DOCTYPE html>
<html ng-app="transmissionUi">

<head>

  <base href="/">

  <title>transmissionUi</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- build:css app.css -->

  <!-- bower:css -->
  <!-- endinject -->

  <link rel="stylesheet" href="styles/css/app.css">

  <!-- endbuild -->

</head>

<body>


    <header>
      <navbar></navbar>
    </header>

        <!-- <a class="mdl-navigation__link" href="/">Home</a>
        <a ng-if="!Auth.isLogged()" class="mdl-navigation__link" href="/signup">Sign Up</a>
        <a ng-if="!Auth.isLogged()" class="mdl-navigation__link" href="/login">Login</a>
        <a ng-if="Auth.isLogged()" class="mdl-navigation__link" href="" ng-click="Auth.logout()">Logout</a> -->

      <div ng-view></div>
    </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <!-- build:js app.js -->

  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <!-- endinject -->

  <!-- inject:js -->
  <script src="app.js"></script>
  <script src="directives/navbar/navbar.directive.js"></script>
  <script src="directives/toggle-item/toggle-item.directive.js"></script>
  <script src="services/auth/auth.js"></script>
  <script src="views/home/home.controller.js"></script>
  <script src="views/home/home.js"></script>
  <script src="views/login/login.controller.js"></script>
  <script src="views/login/login.js"></script>
  <script src="views/rpc/rpc.controller.js"></script>
  <script src="views/rpc/rpc.js"></script>
  <script src="views/signup/signup.controller.js"></script>
  <script src="views/signup/signup.js"></script>
  <!-- endinject -->

  <!-- endbuild -->

  <script src="http://localhost:35729/livereload.js?snipver=1"></script>

</body>

</html>
