@import "../views/rpc/rpc";
@import "material.scss";

body {
    background: #f2f2f2;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;

}

.center {
	margin-left: auto;
	margin-right: auto;
}


.subheader {
    color: #999;
    margin-bottom: 0;
    margin-left: 25px;
}


.list-item {
	box-shadow: 0 1px 2px rgba(0,0,0,.12);
    background: #fff;
	cursor: pointer;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
	overflow: hidden;


    &:hover {
      &:first-of-type {
        margin-top: 0;
      }
      //transition: margin-top 1s ease
      margin: 12px -12px;
	  box-shadow: 0 4px 4px rgba(0,0,0,.12);
    }
}

.progressbar {
    width: auto;
}

.cell-margin-bottom-20 {
    margin-bottom: 20px;
}
