<div class="row">
  <div class="col s8 offset-s2">
    <div class="col s12">
      <div class="subheader">
        Yesterday
      </div>
    </div>

    <div class="col s12 ">
      <div class="list-item">
          <header>
            <h2>James.Bond.S03E15.720p.x264-HiTMAN</h2>
          </header>
          <div class="list-item-info">
            <ul>
              <li>2.4GB</li>
              <li>14 seeders</li>
              <li>108 leechers</li>
            </ul>
          </div>
      </div>
      <div class="list-item">
        <header>
          <h2>James.Bond.S03E15.720p.x264-HiTMAN</h2>
        </header>
        <div class="list-item-info">
          <ul>
            <li>2.4GB</li>
            <li>14 seeders</li>
            <li>108 leechers</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col s12">
      <div class="subheader">
        Last Week
      </div>
    </div>

    <div class="col s12">

      <div class="list-item">
        <header>
          <h2>James.Bond.S03E15.720p.x264-HiTMAN</h2>
        </header>
        <div class="list-item-info">
          <ul>
            <li>2.4GB</li>
            <li>14 seeders</li>
            <li>108 leechers</li>
          </ul>
        </div>
      </div>
      <div class="list-item">
        <header>
          <h2>James.Bond.S03E15.720p.x264-HiTMAN</h2>
        </header>
        <div class="list-item-info">
          <ul>
            <li>2.4GB</li>
            <li>14 seeders</li>
            <li>108 leechers</li>
          </ul>
        </div>
      </div>
      <div class="list-item">
        <header>
          <h2>James.Bond.S03E15.720p.x264-HiTMAN</h2>
        </header>
        <div class="list-item-info">
          <ul>
            <li>2.4GB</li>
            <li>14 seeders</li>
            <li>108 leechers</li>
          </ul>
        </div>
      </div>
      <div class="list-item">
        <header>
          <h2>James.Bond.S03E15.720p.x264-HiTMAN</h2>
        </header>
        <div class="list-item-info">
          <ul>
            <li>2.4GB</li>
            <li>14 seeders</li>
            <li>108 leechers</li>
          </ul>
        </div>
      </div>
      <div class="list-item">
        <header>
          <h2>James.Bond.S03E15.720p.x264-HiTMAN</h2>
        </header>
        <div class="list-item-info">
          <ul>
            <li>2.4GB</li>
            <li>14 seeders</li>
            <li>108 leechers</li>
          </ul>
        </div>
      </div>

      <div class="list-item">
        <header>
          <h2>James.Bond.S03E15.720p.x264-HiTMAN</h2>
        </header>
        <div class="list-item-info">
          <ul>
            <li>2.4GB</li>
            <li>14 seeders</li>
            <li>108 leechers</li>
          </ul>
        </div>
      </div>
      <div class="list-item">
        <header>
          <h2>James.Bond.S03E15.720p.x264-HiTMAN</h2>
        </header>
        <div class="list-item-info">
          <ul>
            <li>2.4GB</li>
            <li>14 seeders</li>
            <li>108 leechers</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
