<div class="mdl-grid">


    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class=" mdl-cell mdl-cell--8-col">

        <div class="mdl-cell mdl-cell--12-col subheader">
            Yesterday
        </div>

        <div class="mdl-cell mdl-cell--12-col  mdl-color-text--grey-800  cell-margin-bottom-20">

            <div class="list-item">
				<div id="p8" class="mdl-progress mdl-js-progress progressbar"></div>
            	<div class="mdl-card__supporting-text ">
                	James.Bond.S03E15.720p.x264-HiTMAN
            	</div>
			</div>
            <div class="list-item">
				<div id="p8" class="mdl-progress mdl-js-progress progressbar"></div>
            	<div class="mdl-card__supporting-text">
                	James.Bond.S03E15.720p.x264-HiTMAN
            	</div>
			</div>

        </div>

        <div class="mdl-cell mdl-cell--12-col subheader">
            Last Week
        </div>

        <div class="mdl-cell mdl-cell--12-col mdl-color-text--grey-800">

            <div class="list-item">
				<div id="p8" class="mdl-progress mdl-js-progress progressbar"></div>
            	<div class="mdl-card__supporting-text">
                	James.Bond.S03E15.720p.x264-HiTMAN
            	</div>
			</div>
            <div class="list-item">
				<div id="p8" class="mdl-progress mdl-js-progress progressbar"></div>
            	<div class="mdl-card__supporting-text">
                	James.Bond.S03E15.720p.x264-HiTMAN
            	</div>
			</div>
            <div class="list-item">
				<div id="p8" class="mdl-progress mdl-js-progress progressbar"></div>
            	<div class="mdl-card__supporting-text">
                	James.Bond.S03E15.720p.x264-HiTMAN
            	</div>
			</div>
            <div class="list-item">
				<div id="p8" class="mdl-progress mdl-js-progress progressbar"></div>
            	<div class="mdl-card__supporting-text">
                	James.Bond.S03E15.720p.x264-HiTMAN
            	</div>
			</div>
            <div class="list-item">
				<div id="p8" class="mdl-progress mdl-js-progress progressbar"></div>
            	<div class="mdl-card__supporting-text">
                	James.Bond.S03E15.720p.x264-HiTMAN
            	</div>
			</div>
            
			<div class="list-item">
				<div id="p8" class="mdl-progress mdl-js-progress progressbar"></div>
            	<div class="mdl-card__supporting-text">
                	James.Bond.S03E15.720p.x264-HiTMAN
            	</div>
			</div>

        </div>
    </div>
