<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
  <div class="mdl-cell mdl-cell--4-col">

    <h1>Server settings</h1>
    <!-- Textfield with Floating Label -->
    <div class="list-item">

      <div class="mdl-cell mdl-cell--12-col">
        <form ng-submit="vm.submit()">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="host" ng-model="vm.transmissionSettings.host" required/>
            <label class="mdl-textfield__label" for="url">Host... (e.g. localhost)</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="number" id="port" ng-model="vm.transmissionSettings.port" required/>
            <label class="mdl-textfield__label" for="port">Port... (e.g. 9091)</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="url" ng-model="vm.transmissionSettings.url" />
            <label class="mdl-textfield__label" for="url">RPC URL... (e.g. /transmission/rpc)</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="username" ng-model="vm.transmissionSettings.username" />
            <label class="mdl-textfield__label" for="username">Username...</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password" ng-model="vm.transmissionSettings.password" />
            <label class="mdl-textfield__label" for="password">Password...</label>
          </div>
          <br>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Save
          </button>

        </form>

      </div>

    </div>
  </div>
</div>
